
@{
    ViewData["Title"] = "MessageSalaUsuario";
    var chatTracebility = (ICollection<ChatTracebility>)ViewData["chatTracebility"]; 
    var UserName = ViewData["UserName"]; 
    var UserID = ViewData["UserID"]; 
}


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a  asp-controller="Admin" asp-action="Admin">Admin</a></li>
    <li class="breadcrumb-item active"><a asp-controller="Admin" asp-action="Admin">Usuario</a></li>
    
    <li class="breadcrumb-item active" ><a  
      asp-controller="SalaUsuario" asp-action="SalaUsuario"
      asp-route-viewSalaUserID="@UserID" 
      asp-route-viewSalaUserName="@UserName" >Salas</a></li>
     <li class="breadcrumb-item active" aria-current="page">Mensajes</li>
  </ol>
</nav>

 @if(chatTracebility != null )
 {
   <p>Estos fueron los mensaje que escribrio <strong> @UserName </strong> </p>
    <ul class="list-group">
      @foreach ( var mesage  in chatTracebility)
      {
          <li class="list-group-item">
            <p>@mesage.Message </p>
            <small>@mesage.AtDate</small>
          </li>
      }
    </ul>
 }
 else
 {
  <p>Debe selecionar el usuario y la sala para buscar sus mensajes</p>
 }